:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(182, 180, 177);
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.trot{
  background-color: green;
}
body{
	margin: 0;
	padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Color{
  border: 1px solid;
  padding: 5em;
  border-radius: 1em;

}







